---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About The Burrow"
	description="Short Description of the Origins of the Burrow"
	pubDate={new Date('July 10 2025')}
	heroImage="/burrow.jpg"
>
	<p>
		Our first house was large, long, impratical, and brown. Much like a groundhog burrow and the name stuck.
		Half opportunity, half eyesore, we dived in and fixed what was broken, painted over the brown for over
		a decade. We created this site to track our life, changes, and projects. It acts as a time capsule and 
		marks events that are important to us.
	</p>

	
</Layout>
