---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to the Burrow!</h1>
			<p>
				Beekeepers since 2020! A great hobby to have during the pandemic.
				 We started with friends and sell honey as a side hustle if you want to call it that
			</p>
			<p>
				Living a wild buzy life with some unusual hobbies that we blog about a bit so that we remember what 
				and when we did things
			</p>
		</main>
		<Footer />
	</body>
</html>
